[submodule "docs"]
	path = docs
	url = https://github.com/Sparrived/SiriusPulse-Doc.git
	branch = master
[submodule "plugins"]
	path = plugins
	url = https://github.com/Sparrived/SiriusPulse-Plugins.git
